.pp729Container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    /* background-color: var(--white); */
}

.pp379Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: 2rem; */
    
}

.pp245List {

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 600px) {
    .pp379Row {
        grid-template-columns: 1fr 1fr;
        /* margin: 0; */
    }
    /* .pp825ViewButton{
        display: none;
    } */
}

@media  (max-width: 768px){
    .pp379Row{
        grid-template-columns: 1fr 1fr;

    }
}

.pp258UserPhotos {
    margin: 20px;
}

.pp267Layout {
    display: flex;
}
.pp289SideDetails{
    width: 20%;
}


.pp851Details{
    width: 70%;
    margin: 0 auto;
}
.pp503UserInfo{
    margin: 0 auto;
    width: 100%;
}

.pp825ViewButton{
    padding: 3rem;
    height: 10px;

}

/* .pp739ListButton{
    height: 10px;
} */